body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:100px;
  position: relative;
  

}
.prompt-container{
  position: absolute;
  top:10%;
  right:5%;
  font-size: 20px;
  display:flex;
  flex-direction: column;
  gap:5px;
  color:rgb(67, 163, 163)
}


#condition{
  font-size: 30px;
  font-weight: 400;
}
#start-btn{
  padding:10px;
  border:none;
  margin-top: 10px;
  background-color: rgb(183, 191, 39);
  color:white;
  border-radius: 10px;


}
.dot{ 
  font-size:40px;
  font-weight: bold;
}
 




.hidden{
  display:none;
}

.container{
  display:grid;
  gap:20px;

  
  grid-template-columns: 1fr 1fr;
  


}
.red-box{
  height: 100px;
  width:100px;
  background-color: red;
  border-radius: 10px;
}
.yellow-box{
  height: 100px;
  width:100px;
  background-color: rgb(255, 255, 0);
  border-radius: 10px;
}
.blue-box{
  height: 100px;
  width:100px;
  background-color: rgb(0, 166, 255);
  border-radius: 10px;
}
.green-box{
  height: 100px;
  width:100px;
  background-color: rgb(49, 159, 15);
  border-radius: 10px;
}

.light-green{
  background-color: rgb(161, 244, 161);
}
.light-blue{
  background-color: rgb(167, 208, 234);
}
.light-red{
  background-color: rgb(224, 146, 142);
}
.light-yellow{
  background-color: rgb(225, 240, 178);
}




